<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoftRelations Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/javascripts/main.js"></script>
    
    <%- include('../partials/bootstrap') %>
</head>

<body>
    <!-- Nav -->
    <%- include('../partials/adminnav') %>
    <!-- Main content -->
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 bg-primary-subtle">
                    <h5>Stats</h5>
                    <ul id="stats-list">
                        <li>Staff: 5</li>
                        <li>Managers: 1</li>
                    </ul>
                </div>
                <div class="col-md-4 bg-secondary-subtle ">
                    Column
                </div>
                <div class="col-md-4 bg-warning-subtle ">
                    Column
                </div>
            </div>
        </div>
    </div>

</body>

</html>