<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <%- include('../partials/bootstrap') %>
    <script src="/javascripts/adminlogin.js"></script> 
</head>
<body>
    
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center shadow-lg  w-auto  p-3 ">
            <h1 class="p-3 mb-4 text-wrap ">SoftRelations Admin</h1>
            <div class="p-2">
                <label for="inputId" class="form-label d-flex start-0">Admin Id</label>
                <input type="number" id="inputId" class="form-control rounded-0">

                <label for="inputPassword" class="form-label d-flex start-0">Password</label>
                <input type="password" id="inputPassword" class="form-control rounded-0">

                <button onclick="onLogIn()" class="btn btn-dark my-4 rounded-0 w-50 ">Log In</button>
            </div>
        </div>
    </div>
    <footer class="fixed-bottom me-auto ms-1 mb-0 ">
        <p>&copy;SoftRelations User Portal 2024.<small> by group 24</small></p>
    </footer>
</body>
</html>