<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/bootstrap') %>
    <title>Admin | Login</title>
</head>
<body>
    <h1>Admin login, edit this with log in form for Admin ID & Password</h1>
    <h3>attach onlick handler to 'Log In' button, and POST the form data to http://localhost/admin/login</h3>
    <h3>just make an alert() in the handler for now</h3>
    <h4>In JSON payload</h4>
</body>
</html>