<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoftRelations Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <%- include('../partials/bootstrap') %>
    <script src="/javascripts/manageusers.js"></script> 
    <script src="/javascripts/main.js"></script>
</head>

<body>
    <!-- Nav -->
    <%- include('../partials/adminnav') %>
    <!-- Main content -->
    <div class="container-fluid mt-2">
        <div class="container-fluid">
            <div class="row">
                <!-- Add User -->
                <div class="col-md-4 border-bottom border-2">
                    <h4>Add User</h4>
                    <form>
                        <div class="form-group">
                            <label for="firstNameInput">First name</label>
                            <input type="email" class="form-control rounded-0" id="firstNameInput">
                        </div>
                        <div class="form-group">
                            <label for="lastNameInput">Last name</label>
                            <input type="email" class="form-control rounded-0" id="lastNameInput">
                        </div>
                        <div class="form-group">
                            <label for="emailInput">Email address</label>
                            <input type="email" class="form-control rounded-0" id="emailInput" placeholder="name@example.com">
                        </div>
                            <label for="roleSelectInput">Select user role</label>
                            <select class="form-select rounded-0" id="roleSelectInput">
                                <option value="HR">HR</option>
                                <option value="Manager">Manager</option>
                                <option value="Staff">Staff</option>
                            </select>
                    </form>
                    <button class="btn btn-success my-3 w-50 rounded-0" onclick="onAddUser()">Add user</button>
                </div>
                <!-- Remove User -->
                <div class="col-md-4 border-bottom border-start border-2 shadow-sm mt-4 mt-md-0">
                    <h4>Remove User</h4>
                    <p>Silently delete user account, not user data.</p>
                    <p>Select user here</p>
                        <label for="userSelectDeleteInput">Who to kick out?</label>
                        <select class="form-select rounded-0" id="userSelectDeleteInput">
                            <!-- <option>John_Doe_HR_john.doe@google.com_89481</option> -->
                            <%- select_template %>
                        </select>
                    <button class="btn btn-danger my-3 w-50 rounded-0" onclick="onRemoveUser()">Remove</button>
                </div>
                <!-- Update User -->
                <div class="col-md-4 border border-2 mt-4 mt-md-0">
                    <h4>Update User Details</h4>
                    <p>Edit the fields to be updated, otherwise skip the field.</p>
                    <p>Select user here</p>
                        <select class="form-select rounded-0" id="userSelectUpdateInput" onchange="populateUpdateFields()">
                            <!-- <option>John_Doe_HR_john.doe@google.com_89481</option> -->
                            <%- select_template %>
                        </select>
                    <form>
                        <div class="form-group">
                            <label for="firstNameUpdateInput">First name</label>
                            <input type="email" class="form-control rounded-0" id="firstNameUpdateInput">
                        </div>
                        <div class="form-group">
                            <label for="lastNameUpdateInput">Last name</label>
                            <input type="email" class="form-control rounded-0" id="lastNameUpdateInput">
                        </div>
                        <div class="form-group">
                            <label for="emailUpdateInput">Email address</label>
                            <input type="email" class="form-control rounded-0" id="emailUpdateInput" placeholder="name@example.com">
                        </div>
                            <label for="roleSelectUpdateInput">Select user role</label>
                            <select class="form-select rounded-0" id="roleSelectUpdateInput">
                                <option value="HR">HR</option>
                                <option value="Manager">Manager</option>
                                <option value="Staff">Staff</option>
                            </select>
                    </form>
                    <button class="btn btn-warning my-3 w-50 rounded-0" onclick="onUpdateUser()">Update</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>