<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%- include('./partials/bootstrap') %>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #444;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <!-- Nav -->
    <%- include('./partials/usernav') %>
    <!-- Main Content -->
    <div class="container-fluid text-center border shadow-sm my-3">
        <h4>Add your Booking here</h4>
        <form id="bookingForm">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
            <label for="Booking Type">Booking Type:</label>
            <select name="Booking Type" id="bookingType">
                <option value="carWashSlot">Car Wash Slot</option>
                <option value="MealOption">Meal Option</option>
            </select>
            <label for="Booking Description">Booking Description:</label>
            <select name="Booking Description" id="bookingDescription">
                <option value="Pap and Quarter Chicken">Pap and Quarter Chicken</option>
                <option value="Rice and Quarter Chicken">Rice and Quarter Chicken</option>
                <option value="Monday">Monday</option>
                <option value="Wednesday">Wednesday</option>
            </select>
            <button onclick="book()" type="button" class="btn btn-black">Book</button>
        </form>
    </div>
    <h4>My Bookings</h4>
    <table id="bookingTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Booking Type</th>
                <th>Booking Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/bookings.js"></script>
    <script src="/javascripts/bookingdetails.js"></script>
</body>
</html>
