<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/main.js"></script>
    
    <%- include('./partials/bootstrap') %>
  </style>
</head>
<body>
    <!-- Nav -->
    <%- include('./partials/usernav') %>
    <!-- Main content here -->
    <h3>Dashboard Overwiew</h3>
    <main class="m-1">
        <!-- Add overview content here -->
        <div class="container container-fluid text-center p-1">
            <div class="row">
              <div class="col-12 col-lg-6 border">
                <h4 class=""></h4>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, molestias.
              </div>
              <div class="col-12 col-lg-6 border">
                <h4 class="">Bookings</h4>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, consequuntur!
              </div>
            </div>
            <div class="row">
              <div class="col-12 border m-2">
                <h4 class="">Timesheets/Tasks</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, eveniet.
              </div>
              
            </div>
          </div>
    </main>
</body>
</html>
